nav h1 {
  font-size: 3rem;
  font-family: "Montserrat Alternates", sans-serif;
}
nav a {
  color: #000000;
  text-shadow: -4px 2px 0px rgba(255, 255, 255, 0.5);
}
nav a:hover {
  color: #fafcf2;
}

section h1 {
  font-family: "Bebas Neue", cursive;
}
section p {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
body ::selection {
  background-color: #000000;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  outline: none;
  display: block;
}

main {
  width: 100vw;
  min-height: 100%;
  color: #fafcf2;
  position: absolute;
  z-index: 99;
  width: 100%;
  margin: 0px auto;
  padding: 0px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  grid-column: 1/span 12;
  border-bottom: 7px rgba(0, 0, 0, 0.5);
  border-bottom-style: inset;
  background-color: black;
  fill: #a1b29e;
  background-size: 56px 56px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st2{fill:rgb(161,178,158)} %3C/style%3E%3Cg style='display:none'%3E%3Cpath style='display:inline;fill:%23414042' d='M-8.3-5.7h520.7V511H-8.3z' id='Layer_2'/%3E%3C/g%3E%3Cg id='Layer_1'%3E%3Cpath transform='rotate(-45.001 0 .055)' class='st2' d='M-453.7-3.7h907.5v7.5h-907.5z'/%3E%3Cpath transform='rotate(-45.001 31.25 31.306)' class='st2' d='M-422.5 27.6H485v7.5h-907.5z'/%3E%3Cpath transform='rotate(-45.001 62.5 62.556)' class='st2' d='M-391.2 58.8h907.5v7.5h-907.5z'/%3E%3Cpath transform='rotate(-45.001 93.75 93.807)' class='st2' d='M-360 90.1h907.5v7.5H-360z'/%3E%3Cpath transform='rotate(-45.001 125 125.057)' class='st2' d='M-328.7 121.3h907.5v7.5h-907.5z'/%3E%3Cpath transform='rotate(-45.001 156.249 156.308)' class='st2' d='M-297.5 152.6H610v7.5h-907.5z'/%3E%3Cpath transform='rotate(-45.001 187.499 187.558)' class='st2' d='M-266.2 183.8h907.5v7.5h-907.5z'/%3E%3Cpath transform='rotate(-45.001 218.749 218.809)' class='st2' d='M-235 215.1h907.5v7.5H-235z'/%3E%3Cpath transform='rotate(-45.001 249.998 250.06)' class='st2' d='M-203.7 246.3h907.5v7.5h-907.5z'/%3E%3Cpath transform='rotate(-45.001 281.248 281.31)' class='st2' d='M-172.5 277.6H735v7.5h-907.5z'/%3E%3Cpath transform='rotate(-45.001 312.498 312.56)' class='st2' d='M-141.2 308.8h907.5v7.5h-907.5z'/%3E%3Cpath transform='rotate(-45.001 343.748 343.81)' class='st2' d='M-110 340.1h907.5v7.5H-110z'/%3E%3Cpath transform='rotate(-45.001 374.997 375.061)' class='st2' d='M-78.7 371.3h907.5v7.5H-78.7z'/%3E%3Cpath transform='rotate(-45.001 406.247 406.312)' class='st2' d='M-47.5 402.6H860v7.5H-47.5z'/%3E%3Cpath transform='rotate(-45.001 437.497 437.562)' class='st2' d='M-16.2 433.8h907.5v7.5H-16.2z'/%3E%3Cpath transform='rotate(-45.001 468.747 468.813)' class='st2' d='M15 465.1h907.5v7.5H15z'/%3E%3Cpath transform='rotate(-45.001 499.997 500.064)' class='st2' d='M46.3 496.3h907.5v7.5H46.3z'/%3E%3C/g%3E%3C/svg%3E");
}
nav .link-list {
  display: inline;
  vertical-align: middle;
  font-size: 2rem;
}
nav #home-link {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 100%;
  padding: 25px;
  margin-top: -12px;
  z-index: 50;
}
nav #home-link #home-img {
  height: 75px;
  border: 4px outset #fafcf2;
  border-radius: 100%;
  margin-top: -12px;
  margin-left: -12px;
}
nav #home-link #home-img:hover {
  border: 4px outset #00efa3;
}

section {
  max-height: 500px;
  grid-column: 6/12;
  background: #90a182;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 50%;
  margin-bottom: 50rem;
  border-radius: 5px;
}

.sec-container {
  padding: 15px 25px;
}

/*# sourceMappingURL=style.css.map */
