body {
  margin: 0;
  padding: 0;
  ::selection {
    background-color: $black;
  }
}
canvas{
  position: fixed;
  top: 0;
  left:0;
  margin:0; 
  padding:0; 
  outline: none;
  display: block;
}

main{
  width:100vw;
  min-height: 100%;
  color: $white;
  position: absolute;
  z-index: 99;
  width:100%;
  margin: 0px auto;
  padding: 0px auto;

  display: grid;
  grid-template-columns: repeat(12,1fr);
}

nav{
  position: fixed;
  width: 100%;
  height: 70px;
  grid-column: 1 / span 12;
  border-bottom: 7px rgba(0, 0, 0, .5);
  border-bottom-style: inset;
  @include nav-bg;

  .link-list{
    display: inline;
    vertical-align: middle;
    font-size: 2rem;
  }

  #home-link{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 1);
    border-radius:100%;
    padding: 25px;
    margin-top: -12px;
    z-index: 50;

    #home-img{
      height: 75px;
      border: 4px outset $white;
      border-radius: 100%;
      margin-top: -12px;
      margin-left: -12px;
    }
    #home-img:hover{
      border: 4px outset $neon-teal;
    }
  }
}

section{
  max-height: 500px;
  grid-column: 6 / 12;
  background: $green;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 50%;
  margin-bottom: 50rem;
  border-radius: 5px;
}

.sec-container{
  padding: 15px 25px;
}