nav{
  h1{
    font-size: 3rem;
    @include h1_nav;
  }
  a{
    color: $black;
    text-shadow: -4px 2px 0px rgba(255, 255, 255, 0.5);
  }
  a:hover{
    color: $white;
  }
}
section{
  h1{
    @include h1_section;
    text-align: center;
  }
  h6{
    @include h6_item;
  }
  p{
    @include p_section;
  }
  a{
    color: $white;
    font-weight: 400;
  }
  a:hover{
    color: $neon-teal;
    font-weight: 400;
  }
  .rating-category{
    display:block;
    background-color: $dark;
    border-radius: 5px;
    padding: 0px;
    padding-right: 10px;
    margin: 6px;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
    p{
      font-size: .9rem;
    }
  }
  .stars{
    padding-left: 10px;
    color: $neon-teal;
    font-size: 2rem;
  }
}
.gallery-cards{
  h5{
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    padding: 0px;
    }
}
.right-desc{
  span{
    @include span_learnmore;
  }
}

/******** Bouncing Arrows ********/
.arrow-container {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -moz-transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}